
# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Build / Production
# =========================
dist/
dist-ssr/
build/
coverage/

# =========================
# Cache
# =========================
.cache/
.eslintcache
.parcel-cache/

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.tmp
*.pid

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editor Settings
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# =========================
# Local Config
# =========================
*.local

# =========================
# Package Manager
# =========================
.pnpm-store/
.npm/
.yarn/

# =========================
# Optional
# =========================
.envrc